{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Avengers</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, sint porro laborum sapiente dolorum quis quos ea commodi eaque molestias mollitia consectetur deserunt numquam minima similique sit voluptate qui officia?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/avenger.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}